<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<form action="/predictions/check" method="POST">
    <div>
        <label>请输入预测时间：
            <input type="text" name="time">
        </label>
    </div>
    <div>
        <label>请输入预测时长：
            <input type="text" name="hour">
        </label>
    </div>
    <div>
        <label>请输入预测的类型：
            <input type="text" name="substance">
        </label>
    </div>
    <div>
        <input type="submit" value="预测">
    </div>
</form>
</body>
</html>